<div class="home-container">
    <h1>Veja oque estão compartilhando</h1>
    <div class="search-container">
      <form>
        <i class="fa fa-search fa-1x" id="icon-search"></i>
        <input type="text" placeholder="Ou busque por um momento..." (input)="search($event)">
      </form>
    </div>
  <div *ngIf="moments.length > 0; else noMoments">
    <div class="moments-container">
        <div class="moment" *ngFor="let moment of moments">
            <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
            <h3>{{moment.title}}</h3>
            <p class="date">Em: {{moment.created_at}}</p>
            <p>Comentários: {{ moment.comments!.length }}</p>
            <p><a routerLink="moments/{{moment.id}}">Detalhes</a></p>
        </div>
    </div>
  </div>
  <ng-template #noMoments>
    <h2>Não há Momentos cadastrados!</h2>
  </ng-template>
</div>
